/*
====================================================================================================================================================================
                                                    Start Slideshow Properties 
====================================================================================================================================================================
*/

section#content {
    color: white;
    position: absolute;
    top: 300px;
    left: 250px;

}

img#slide {
    width: 100%;
    height: auto;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties 
====================================================================================================================================================================
*/

div.course {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 900px;
    left: 30px;
}

div.course2 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 900px;
    left: 440px;
}

div.course3 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 900px;
    left: 850px;
}

h6 {
	font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties 
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties 
====================================================================================================================================================================
*/

section#about {
    width: 100%;
    height: 509px;
    background: #252525;
    position: absolute;
    top: 1500px;
    left: 0;
}

div.about {
	color: white;
	text-align: center;
}

div.students {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 10px;
}

div.reviews {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 321px;
} 

div.courses {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 636px;
}

div.content {
    width: 300px;
    height: 200px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 950px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties 
====================================================================================================================================================================
*/

div.learntechnow {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2200px;
    left: 20px;
}

div.learntechpodcast {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2200px;
    left: 435px;
}

div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2200px;
    left: 850px;
}

.h1lt {

    position: absolute;
    top: 2000px;
    left: 450px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties 
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 2800px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/

